@import "tailwindcss";

/* HIDE LEFT SIDE NAV FOOTER ADMINJS LINK */
.sc-dmqHEX.sc-cYRmzm.dToggm.cOOsCT.adminjs_Box {
  display: none !important;
}

/* LEFT SIDE NAV NAV HEADER `NAVIGATION` TEXT REMOVED */
.sZaIG {
  display: none !important;
}

/* LOGIN PAGE HIDE LEFT BANNER */
.hZzKCo {
  display: none !important;
}